<h1>Listing operators</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operators.each do |operator| %>
      <tr>
        <td><%= operator.id %></td>
        <td><%= operator.name %></td>
        <td><%= operator.days_between_invoices %></td>
        <td><%= link_to 'Show', operator %></td>
        <td><%= link_to 'Edit', edit_operator_path(operator) %></td>
        <td><%= link_to 'Destroy', operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operator', new_operator_path %>
