<!DOCTYPE html>
<html>
<head>
  <title>Invoices</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<a href="https://codeship.com/projects/871e6870-7346-0132-9045-668408718eb6/status?branch=master">codeship</a>
<br/>
  
<p id="notice"><%= notice %></p>

<%= yield %>
  
<%= render "layouts/menu" %>
  
<!--   https://codeship.com/projects/871e6870-7346-0132-9045-668408718eb6/status?branch=master -->

</body>
</html>
