<!DOCTYPE html>
<html>
<head>
  <title>Invoices</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/">HOME</a>
<br/>
<a href="https://codeship.com/projects/871e6870-7346-0132-9045-668408718eb6/status?branch=master"><img src="https://codeship.com/projects/871e6870-7346-0132-9045-668408718eb6/status?branch=master" /></a>
<br/>
<a href="https://codeclimate.com/github/szrapnel/rachunki-tracker"><img src="https://codeclimate.com/github/szrapnel/rachunki-tracker/badges/gpa.svg" /></a>
<br/>
<a href="https://codeclimate.com/repos/54aa7100e30ba01c4d009d4f/badges/b9f4d89569867e796f37/coverage.svg"><img src="https://codeclimate.com/repos/54aa7100e30ba01c4d009d4f/badges/b9f4d89569867e796f37/coverage.svg" /></a>
<br/>
<a href="https://travis-ci.org/szrapnel/rachunki-tracker.svg?branch=master"><img src="https://travis-ci.org/szrapnel/rachunki-tracker.svg?branch=master" /></a>
<br/>
  
<p id="notice"><%= notice %></p>

<p id="notice" class="notice"><%= notice %></p>
<p id="alert" class="alert"><%= alert %></p>           

<%= yield %>
  
<%= render "layouts/menu" %>
  
<!--   https://codeship.com/projects/871e6870-7346-0132-9045-668408718eb6/status?branch=master -->

</body>
</html>
