<h1><%= controller_name %></h1>
<h2><%= action_name %></h2>
<% my_params = params %>
<% my_params.delete('controller') %>
<% my_params.delete('action') %>
<h2><%= my_params %></h2>
<br/>
list
<br/>
<% if @list.nil? %>
  <%= 'needed list variable' %>
<% else %>
  <%= magic_list(@list) %>
  <br/>
  <%= @list.count %>
<% end %>

<br/>
item
<br/>
<% if @item.nil? %>
  <%= 'needed item variable' %>
<% else %>
  <%= magic_item(@item) %>
<% end %>