<h1><%= controller_name %></h1>
<h2><%= action_name %></h2>
<% my_params = params %>
<% my_params.delete('controller') %>
<% my_params.delete('action') %>
<h2><%= my_params %></h2>

<%= render "layouts/magic_table" %>
<!-- <%= render "layouts/magic_item" %> -->
<!-- <%= render "layouts/magic_list" %> -->

